@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    /* BRAND COLORS (TETAP) */
    --primary: 349 75% 45%; /* Merah #ca1f3d */
    --primary-foreground: 0 0% 98%;
    
    --secondary: 240 4.8% 95.9%; /* Surface Container Low */
    --secondary-foreground: 240 5.9% 10%;
    
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    
    --accent: 45 100% 50%; /* Kuning #ffbe00 */
    --accent-foreground: 0 0% 9%; /* Teks hitam di atas kuning */
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 349 75% 45%;
    
    --radius: 1.25rem; 
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 8%; /* Slightly lighter than pure black */
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    /* Secondary for dark is a bit lighter */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    /* Accent can be the same, it pops on dark */
    --accent: 45 100% 50%;
    --accent-foreground: 0 0% 9%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 349 75% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans selection:bg-accent selection:text-accent-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tighter;
  }
}
